/* attributi contenitori */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #dde8e8 , #DDDBD1 75%, #009688 75%);
    padding-top: 50px;
}

main{
    width:70%;
    height: 90%;
    margin: 0 auto;
    background-color:#ffffff;
}

#app{
    height: 100%;
}

.main-container{
    width: 100%;
    height: 100%;
}


.container-chat{
    height: 100%;
}


.user-img{
    width: 50px;
    vertical-align:middle
}

.chat-info{
    background-color: #eaeaea;
}

.fa-solid, .fa-regular{
    color: #b1b1b1;
    margin-right: 30px;
    font-size: 25px;
}

.enable-notifications{
    background-color: #8edafc;
}

.fa-bell-slash{
    padding: 12px;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    color: #8edafc;   
}

.fs{
    font-size: 15px;
}

.last-message{
    font-size: 15px;
}

.hours{
    font-size: 15px;
    color: #b1b1b1;
}

.chats{
    height: 78%;
    overflow-y: auto;
    
    cursor: pointer;
}



.user-info{
    background-color: #eaeaea;

}

.active{
    background-color:#eaeaea;
}

.chat-display{
    background-image: url(../img/mine.jpg);
    height: 85%;
    overflow-y: auto;
}

.input{
    background-color: #f3eeea ;
    padding: 10px;
}

.sent{
    align-self: flex-end;
    background-color: #d5f9ba;
}

.recived{
    background-color: white;
}
.recived , .sent{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
}
